html {
  position: fixed;
  background-image: url("https://ak1.picdn.net/shutterstock/videos/1007387521/thumb/1.jpg");
  z-index: 2;
  cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Geostar', cursive;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 20s linear infinite;
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  .card-footer {
    font-family: 'Geostar', cursive;
    color: yellow;
    font-size: 40px;
  }
  /* THis is for the color of the links*/
  a:link {
    color: yellow;
  }
  a:hover {
    color: turquoise;
  }
  a:active {
    color: yellow;
  }
  /* THis is for the main image*/
  .mainIMG{
    width: 600px;
    position: absolute;
        top: 60%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
        display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .container{
    padding: 10px;
    color: yellow;
    font-family: 'Creepster', cursive;
    font-size: 30px;

  }


